version: '3.8'

services:
  postgres:
    image: postgres:16.1
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
     test: ["CMD-SHELL", "pg_isready -U postgres"]
     interval: 5s
     timeout: 5s
     retries: 5

  db-init:
    image: postgres:16.1
    container_name: db-init
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PGPASSWORD: postgres
    entrypoint:
      - bash
      - -c
      - |
        set -e
        echo "Waiting for PostgreSQL..."
        until psql -h postgres -U postgres -d postgres -c '\q'; do
          sleep 1
        done
        
        psql -h postgres -U postgres -d postgres -v ON_ERROR_STOP=1 <<-EOSQL
        CREATE DATABASE ewm_db;
        CREATE DATABASE user_db;
        CREATE DATABASE request_db;
        CREATE DATABASE comment_db;
        EOSQL

  stats-db:
    image: postgres:16.1
    container_name: stats-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stats_db
    ports:
      - "5433:5432"
