spring:
  application:
    name: stats-server
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5433/stats_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    "properties.hibernate.format_sql": true

  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    clear-checksums: true

logging:
  level:
    "ru.practicum": INFO
    "org.springframework.web": WARN
    "org.hibernate.SQL": DEBUG
    "org.springframework.transaction": DEBUG
    ROOT: WARN

server:
  port: 0

  secondary:
    port: 9090